/* Folha de estilos para o corpo das telas da aplicação JavaFX */

.painelExterno {
	-fx-background-color: #EEEEEE;
}

.painelInterno {
	-fx-background-color: white;
	-fx-background-radius: 10px;
	-fx-border-color: lightblue;
	-fx-border-radius: 10px;
}

.alertEtiqueta > *.label.content{
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-padding: 10px 10px 20px;
}
.alertEtiqueta:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
}

.lista {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.imagemBotaoEtiqueta {
	-fx-padding: 0, 10, 0, 10;
}